body{
  margin: 0;
}
.header{
  height: 100px;
  display: flex;
  justify-content: flex-end;
}
.header__profile{
  width: 50px;
  border: 1px solid black;
  border-radius: 40px;
}
.container{
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}
.icon{
  width: 40px;
  height: 40px;
}